@import url("https://fonts.googleapis.com/css2?family=Anaheim&family=Montserrat:wght@700&family=Overpass:wght@200;300&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* ::-webkit-scrollbar {
  width: 5px;
} */
/* ::-webkit-scrollbar-thumb {
  background-color: lightgreen;
}
::-webkit-scrollbar-track {
  background-color: darkgreen;
} */

.hero-bg {
  background: url("./assets/images/bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
  width: 100%;
  object-fit: cover;
  /* filter: saturate(2); */
}

@media screen and (min-width: 460px) {
  .card:nth-child(5n + 1) {
    grid-column: auto/span 2;
    grid-row: auto/span 2;
  }
}
